/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:80%;
    margin: 0 auto;
}
.content{
    display: flex;
    gap: 10px;
}
.check{
    cursor: pointer;
}
.underline{
    text-decoration: line-through;
}